<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Adicionar Planeta</nb-card-header>
            <nb-card-body>
                <form [formGroup]="planetsForm" (ngSubmit)="newPlanet()">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" placeholder="Tatooine..." formControlName="nome"
                        [class.input-danger]="!planetsForm.controls['nome'].valid && planetsForm.controls['nome']?.touched">
                    </div>
                    <div class="form-group">
                        <label for="clima">Clima</label>
                        <input type="text" class="form-control" id="clima" placeholder="Árido..." formControlName="clima"
                        [class.input-danger]="!planetsForm.controls['clima'].valid && planetsForm.controls['clima']?.touched">
                    </div>
                    <div class="form-group">
                        <label for="terreno">Terreno</label>
                        <input type="text" class="form-control" id="terreno" placeholder="Deserto..." formControlName="terreno"
                        [class.input-danger]="!planetsForm.controls['terreno'].valid && planetsForm.controls['terreno']?.touched">
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="(!planetsForm.valid && planetsForm?.touched) || onHold">Salvar</button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-1">
        <nb-card>
            <nb-card-header>Total</nb-card-header>
            <div class="text-center mb-3">
                <div class="value">{{ (planets ) ? planets.length : "0" }}</div>
            </div>
        </nb-card>
    </div>
    <div class="col-md-5 lists">
        <nb-card class="list-card">
            <nb-card-header>Listagem</nb-card-header>
            <nb-card-body>
                <nb-accordion>
                    <nb-accordion-item #item *ngFor="let planet of planets">
                        <nb-accordion-item-header>
                            {{ planet.nome }}
                        </nb-accordion-item-header>
                        <nb-accordion-item-body>
                            <div class="row">
                                <div class="col-10">
                                    <p>Clima: {{ planet.clima }}</p>
                                    <p>Terreno: {{ planet.terreno }}</p>
                                    <p>Filmes: {{ planet.filmes }}</p>
                                </div>
                                <div class="col-2">
                                    <a class="ng2-smart-action ng2-smart-action-edit-edit ng-star-inserted" href="#"
                                    (click)="editPlanet(planet.id)">
                                        <i class="nb-edit"></i>
                                    </a>
                                    <a class="ng2-smart-action ng2-smart-action-delete-delete ng-star-inserted" href="#"
                                    (click)="deletePlanet(planet.id)">
                                        <i class="nb-trash"></i>
                                    </a>
                                </div>
                            </div>
                        </nb-accordion-item-body>
                    </nb-accordion-item>
                </nb-accordion>

            </nb-card-body>
        </nb-card>

        
    </div>
</div>
